/*basics*/
body {
    width: 100%;
    text-align: center;
    font-family: Verdana;
    background-color: #000000;
    color: #ffffff;
}

/*header*/

header .header {
    font-weight: normal;
    font-size: 3.125rem;
}

header .link_header a{
    font-size: 1rem;
    color: #7fffd4;
    font-weight: 700;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
}

.section1 {
    font-size: 1.3125rem;
    color: #808080;
}